# Database configuration
POSTGRES_USER=<neon>                
POSTGRES_PASSWORD=<neonpassword>        
POSTGRES_DB=<neon>                        
DB_HOST=<neon>
DB_PORT=5432                               
SSL_MODE=require                          

# Optional: Full connection string for tools like Prisma or Sequelize
DATABASE_URL=<neon>

# Redis configuration
REDIS_URL=<upstash>

# Adminer configuration (if applicable)
ADMINER_PORT=8080
